<div class="parent">
    <div class="div1">
        <div class="homeicon">
            <a href="/Home">
                <img src="../../assets/Home_icon.png" alt="Logo" title="linkedin" />
            </a>
        </div>
    </div>
    <div class="div2">
        <button mat-button class="primary" (click)="nevigate('Home')">Home</button>
        <button mat-button class="primary" (click)="nevigate('About')">About</button>
        <button mat-button class="primary" (click)="nevigate('Portfolio')">Portfolio</button>
        <button mat-button class="primary" (click)="nevigate('Pages')">Pages</button>
        <button mat-button class="primary" (click)="nevigate('Blog')">Blog</button>
        <button mat-button class="primary" (click)="nevigate('Contact')">Contact</button>
    </div>