<div class="parent">

    <div class="div2">Follow Me</div>
    <div class="div3">
        <div class="logodiv">
            <a href="https://www.linkedin.com/in/harshad-wagh-26473521a/" target="_blank">
                <img src="../../assets/linkedin.svg" alt="Logo" title="linkedin" />
            </a>
            <a href="https://www.facebook.com/profile.php?id=100013189427859" target="_blank">
                <img src="../../assets/facebook.svg" alt="Logo" title="facebook" />
            </a>
            <a href="https://www.instagram.com/_harshad_wagh7372/" target="_blank">
                <img src="../../assets/instagram.svg" alt="Logo" title="instagram" />
            </a>
            <a href="https://github.com/harshadwagh-ux" target="_blank">
                <img src="../../assets/github.svg" alt="Logo" title="github" />
            </a>
        </div>
    </div>
    <div class="div4">
        Copyright ©2025 All rights reserved | This template is made with ❤ by &nbsp; <a href="/Home" class="name">Harshad Wagh</a> 
    </div>
</div>