<body>
    <section class="container">
        <section style="padding: 30px;">
            <h3>Text Sample</h3>
            <p>Every avid independent filmmaker has <b style="color: #e45447;">Bold</b> about making that <i style="color: #e45447;">Italic</i> interest documentary, 
                or short film to show off their creative prowess. Many have great ideas and want to “wow” the<sup style="color: #e45447;">Superscript</sup> scene, or 
                video renters with their big project. But once you have the<sub style="color: #e45447;">Subscript</sub> “in the can” (no easy feat), how do you move 
                from a <del style="color: #e45447;">Strike</del> through of master DVDs with the <u style="color: #e45447;">“Underline”</u>marked hand-written title inside a secondhand CD case, to a pile of 
                cardboard boxes full of shiny new, retail-ready DVDs, with UPC barcodes and polywrap sitting on your doorstep? You need to 
                create eye-popping artwork and have your project replicated. Using a reputable full service DVD Replication company like 
                PacificDisc, Inc. to partner with is certainly a helpful option to ensure a professional end result, but to help with your DVD 
                replication project, here are 4 easy steps to follow for good DVD replication results:</p>
        </section>
        <section style="padding: 30px;">
            <h3> Sample Buttons</h3>
            <div class="btnwrp">
                <button mat-button class="primary" style="color:#222222;border: 1px solid transparent;">Default</button>
                <button mat-button class="primary" style="color:#fff;background: #f8b600;border: 1px solid transparent;">Primary</button>
                <button mat-button class="primary" style="color:#fff;background: #4cd3e3;border: 1px solid transparent;">Success</button>
                <button mat-button class="primary" style="color:#fff;background: #38a4ff;border: 1px solid transparent;">Info</button>
                <button mat-button class="primary" style="color:#fff;background: #f4e700;border: 1px solid transparent;">Warning</button>
                <button mat-button class="primary" style="color:#fff;background: #f44a40;border: 1px solid transparent;">Danger</button>
                <button mat-button class="primary" style="color:#222222;text-decoration: underline;border: 1px solid transparent;">Link</button>
                <button mat-button class="primary" style="color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
            <div class="btnwrp">
                <button mat-button class="primary" style="color:#087dff;background: white;border: 1px solid #f0f0f0;">Default</button>
                <button mat-button class="primary" style="color:#f8b600;background: white;border: 1px solid #f8b600;">Primary</button>
                <button mat-button class="primary" style="color:#4cd3e3;background: white;border: 1px solid #4cd3e3;">Success</button>
                <button mat-button class="primary" style="color:#38a4ff;background: white;border: 1px solid #38a4ff;">Info</button>
                <button mat-button class="primary" style="color:#f4e700;background: white;border: 1px solid #f4e700;">Warning</button>
                <button mat-button class="primary" style="color:#f44a40;background: white;border: 1px solid #f44a40;">Danger</button>
                <button mat-button class="primary" style="color:#222222;background: white;text-decoration: underline;border: 1px solid #f0f0f0;">Link</button>
                <button mat-button class="primary" style="color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
            <div class="btnwrp">
                <button mat-button class="primary" style="border-radius: 3px;color:#222222;border: 1px solid transparent;">Default</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#fff;background: #f8b600;border: 1px solid transparent;">Primary</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#fff;background: #4cd3e3;border: 1px solid transparent;">Success</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#fff;background: #38a4ff;border: 1px solid transparent;">Info</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#fff;background: #f4e700;border: 1px solid transparent;">Warning</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#fff;background: #f44a40;border: 1px solid transparent;">Danger</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#222222;text-decoration: underline;border: 1px solid transparent;">Link</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
            <div class="btnwrp">
                <button mat-button class="primary" style="border-radius: 3px;color:#087dff;background: white;border: 1px solid #f0f0f0;">Default</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#f8b600;background: white;border: 1px solid #f8b600;">Primary</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#4cd3e3;background: white;border: 1px solid #4cd3e3;">Success</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#38a4ff;background: white;border: 1px solid #38a4ff;">Info</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#f4e700;background: white;border: 1px solid #f4e700;">Warning</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#f44a40;background: white;border: 1px solid #f44a40;">Danger</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#222222;background: white;text-decoration: underline;border: 1px solid #f0f0f0;">Link</button>
                <button mat-button class="primary" style="border-radius: 3px;color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
            <div class="btnwrp">
                <button mat-button class="primary" style="border-radius: 20px;color:#222222;border: 1px solid transparent;">Default</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#fff;background: #f8b600;border: 1px solid transparent;">Primary</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#fff;background: #4cd3e3;border: 1px solid transparent;">Success</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#fff;background: #38a4ff;border: 1px solid transparent;">Info</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#fff;background: #f4e700;border: 1px solid transparent;">Warning</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#fff;background: #f44a40;border: 1px solid transparent;">Danger</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#222222;text-decoration: underline;border: 1px solid transparent;">Link</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
            <div class="btnwrp">
                <button mat-button class="primary" style="border-radius: 20px;color:#087dff;background: white;border: 1px solid #f0f0f0;">Default</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#f8b600;background: white;border: 1px solid #f8b600;">Primary</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#4cd3e3;background: white;border: 1px solid #4cd3e3;">Success</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#38a4ff;background: white;border: 1px solid #38a4ff;">Info</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#f4e700;background: white;border: 1px solid #f4e700;">Warning</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#f44a40;background: white;border: 1px solid #f44a40;">Danger</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#222222;background: white;text-decoration: underline;border: 1px solid #f0f0f0;">Link</button>
                <button mat-button class="primary" style="border-radius: 20px;color:#087dff;border: 1px solid transparent;cursor: not-allowed;" disabled>Disable</button>
            </div>
        </section>
        <section  style="padding: 30px;">
            <h3> Left Aligned</h3>
            <div style="display: flex">
                <div><img class="leftmmm" src="../../assets/left-right.jpg"></div>
                <div><p style="width: 95%;text-align: left;">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me.</p></div>
            </div>
        </section>
        <section  style="padding: 30px;">
            <h3 style="text-align: right;"> Right Aligned</h3>
            <div  style="display: flex">
                <div><p style="width: 95%;text-align: right;margin-right: 25px;">Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me.</p></div>
                <div><img class="rightmmm" src="../../assets/left-right.jpg"></div>
            </div>
        </section>
        <section  style="padding: 30px;">
            <h3>Definition</h3>
            <div style="display: flex;justify-content: space-evenly;">
                <div style="padding: 10px;"><h4>Definition 01</h4><p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p></div>
                <div style="padding: 10px;"><h4>Definition 02</h4><p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p></div>
                <div style="padding: 10px;"><h4>Definition 03</h4><p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks</p></div>
            </div>
        </section>
        <section  style="padding: 30px;">
            <h3> Block Quotes        </h3>
                <p style="padding: 15px;border-left: 3px solid #f8b600">
                    “Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking”
                </p>
        </section>
        <section style="padding: 30px;">
            <h3>Table</h3>
            <div>
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name<br>
                        <input type="text" placeholder="-- Search Name--" (input)="search1($event)">
                         </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Weight<br>
                         </th>
                      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="symbol">
                      <th mat-header-cell *matHeaderCellDef> Symbol<br>
                         </th>
                      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>            
                  </div>
        </section>
        <section  style="padding: 30px;">
            <h3> Image Gallery</h3>
            <div class="image-container">
                <img src="../../assets/8.jpg">
                <img src="../../assets/2.jpeg">
                <img src="../../assets/3.jpeg">
                <img src="../../assets/4.jpeg">
                <img src="../../assets/9.jpg">
                <img src="../../assets/6.jpeg">
                <img src="../../assets/7.jpg">
            </div>
        </section>
        <section  style="padding: 30px;">
            <div>
                <div style="padding: 15px;">
                     <h3>Typography</h3>
                    <div class="typography">
                        <h1 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 36px;">This is header 01</h1>
                        <h2 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 30px;">This is header 02</h2>
                        <h3 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 24px;">This is header 03</h3>
                        <h4 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 18px;">This is header 04</h4>
                        <h5 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 16px;">This is header 05</h5>
                        <h6 style="font-family: Poppins, sans-serif;font-weight: 700;font-size: 14px;">This is header 06</h6>
                    </div>
                </div>
                <div  style="padding: 15px;"> <h3>Unordered List</h3>
                <div>
                    <ul>
                        <li>Item 1
                            <ul>
                                <li>Sub-item 1.1</li>
                                <li>Sub-item 1.2
                                    <ul>
                                        <li>Sub-sub-item 1.2.1</li>
                                        <li>Sub-sub-item 1.2.2</li>
                                    </ul>
                                </li>
                                <li>Sub-item 1.3</li>
                            </ul>
                        </li>
                        <li>Item 2</li>
                        <li>Item 3
                            <ul>
                                <li>Sub-item 3.1</li>
                                <li>Sub-item 3.2</li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
                <div  style="padding: 15px;"> <h3>Ordered List</h3>
                <div>
                    <ol>
                        <li>Item 1
                            <ol>
                                <li>Sub-item 1.1</li>
                                <li>Sub-item 1.2
                                    <ol>
                                        <li>Sub-sub-item 1.2.1</li>
                                        <li>Sub-sub-item 1.2.2</li>
                                    </ol>
                                </li>
                                <li>Sub-item 1.3</li>
                            </ol>
                        </li>
                        <li>Item 2</li>
                        <li>Item 3
                            <ol>
                                <li>Sub-item 3.1</li>
                                <li>Sub-item 3.2</li>
                            </ol>
                        </li>
                    </ol>
                    
                </div>
                </div>
            </div>
        </section>
        <section  style="padding: 30px;">
            <div style="display: flex;">
                <div><h3>Form Element</h3>
                <div>
                    <form action="#" method="post">
                        <input placeholder="First Name" type="text" id="first-name" name="first-name" required>
                        <input placeholder="Last Name" type="text" id="last-name" name="last-name" required>
                        <input placeholder="Email Address" type="text" id="email" name="email" required>
                        <input placeholder="Address"   type="text" id="address" name="address" rows="4" required>
                        <select id="city" name="city" required>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Nashik">Nashik</option>
                            <option value="Pune">Pune</option>
                        </select>
                        <select id="country" name="country" required>
                            <option value="India">India</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="America">America</option>
                        </select>
                        <textarea placeholder="Message" id="message" name="message" rows="5" required></textarea>
                        <!-- <button mat-button class="primary" style="color:#fff;background: #4cd3e3;border: 1px solid transparent;">Success</button> -->
                    </form>
                </div>
                </div>
            </div>
        </section>
    </section>
</body>
