<section class="container"> 
    <div class="parentwrp">
        <div class="titletag">
            <img class="mainimg" src="../../assets/skills.svg">
            Skill
        </div>
        <div class="parent">
            <div class="div1">
                <div class="textimg"><img src="../../assets/icons8-angular.svg"></div>
                <div class="text">Angular</div>
            </div>
            <div class="div2"> 
                <div class="textimg"><img src="../../assets/icons8-material-ui.svg"></div>
                <div class="text">Material UI</div>
            </div>
            <div class="div3"> 
                <div class="textimg"><img src="../../assets/icons8-html.svg"></div>
                <div class="text">HTML</div>
            </div>
            <div class="div4">
                <div class="textimg"><img src="../../assets/icons8-css.svg"></div>
                <div class="text">CSS / SCSS</div>
            </div>
            <div class="div5"> 
                <div class="textimg"><img src="../../assets/icons8-javascript.svg"></div>
                <div class="text">JavaScript</div>
            </div>
            <div class="div6"> 
                <div class="textimg"><img src="../../assets/icons8-typescript.svg"></div>
                <div class="text">Typescript</div>
            </div>
            <div class="div7">
                <div class="textimg"><img src="../../assets/icons8-java.svg"></div>
                <div class="text">Core JAVA</div>
            </div>
            <div class="div8">
                <div class="textimg"><img src="../../assets/icons8-spring-boot.svg"></div>
                <div class="text">Spring boot </div>
            </div>
            <div class="div9">
                <div class="textimg"><img src="../../assets/icons8-oracle-pl-sql.svg"></div>
                <div class="text"> PL / MySQL</div>
            </div>
            <div class="div10">
                <div class="textimg"><img src="../../assets/icons8-jenkins.svg"></div>
                <div class="text">Jenkins</div>
            </div>
            <div class="div11">
                <div class="textimg"><img src="../../assets/linux-svgrepo-com.svg"></div>
                <div class="text">Linux</div>
            </div>
            <div class="div12">
                <div class="textimg"><img src="../../assets/icons8-jira.svg"></div>
                <div class="text">Jira</div>
            </div>
            <div class="div13"> 
                <div class="textimg"><img src="../../assets/icons8-bootstrap.svg"></div>
                <div class="text">Bootstrap</div>
            </div>
            <div class="div14"> 
                <div class="textimg"><img src="../../assets/chart-pie-svgrepo-com.svg"></div>
                <div class="text">Chart JS</div>
            </div>
            <div class="div15"> 
                <div class="textimg"><img src="../../assets/chart-combo-svgrepo-com.svg"></div>
                <div class="text">Apex Chart</div>
            </div>
            <div class="div16"> 
                <div class="textimg"><img src="../../assets/icons8-git.svg"></div>
                <div class="text">Git</div>
            </div>
            <div class="div17"> 
                <div class="textimg"><img src="../../assets/github-color-svgrepo-com.svg"></div>
                <div class="text">GitHub</div>
            </div>
            <div class="div18"> 
                <div class="textimg"><img src="../../assets/icons8-microsoft-copilot.svg"></div>
                <div class="text">Copilot</div>
            </div>
            <div class="div19">
                <div class="textimg"><img src="../../assets/icons8-aws.svg"></div>
                <div class="text">AWS</div>
            </div>
            <div class="div20">
                <div class="textimg"><img src="../../assets/icons8-visual-studio.svg "></div>
                <div class="text">VS Code</div>
            </div>
            <div class="div21">
                <div class="textimg"><img src="../../assets/icons8-java-eclipse.svg"></div>
                <div class="text">Eclipse</div>
            </div>
            <div class="div22">
                <div class="textimg"><img src="../../assets/icons8-chatbot.svg"></div>
                <div class="text">ChatGBT</div>
            </div>
            <div class="div23">
                <div class="textimg"><img src="../../assets/icons8-outlook.svg"></div>
                <div class="text">Outlook</div>
            </div>
            <div class="div24">
                <div class="textimg"><img src="../../assets/icons8-ms-office.svg"></div>
                <div class="text">MS Office</div>
            </div>
        </div>
    </div>
</section>
