<section class="container">
    <div class="parent">
        <div class="div1">
            <div class="homeicon">
                <img src="../../assets/About_img.png" alt="Logo" />
            </div>
        </div>
        <div class="div2">
            <span class="header">About Myself</span>
            <br>
            <span>
                <hr class="hrline">
            </span>
            <br>
            <p> Dedicated front-end Angular developer with 4+ years of experience in designing, developing and
                maintaining web applications with Angular 19+ & Angular Material UI libraries. Expert in Angular and
                Agile lifecycle with a proven record of delivering robust web applications.
            </p>
            <p>
                Excited to apply advanced technical skills and extensive knowledge in web services to contribute
                effectively to mission-critical programs.
            </p>
            <p>
                To advance my career with a globally-oriented company that fosters creativity, providing opportunities
                for personal and professional growth. Striving for success in both my career and personal life.
            </p>
        </div>
    </div>
</section>
