<body>
    <div class="timeline">
        <div class="container right">
            <div class="content">
                <div class="text1">Frontend Developer - Angular</div>
                <div class="text2">April 2022 - present                 </div>
                <div class="text4">TATA Consultancy Services Pvt. Ltd Mumbai, Maharashtra, India</div>
            </div>
        </div>
        <div class="container left">
            <div class="content">
                <div class="text1">System Engineer - Trainee</div>
                <div class="text2">March 2022 - April 2022 </div>
                <div class="text4">TATA Consultancy Services Pvt. Ltd Mumbai, Maharashtra, India</div>
            </div>
        </div>
    </div>
</body>