.container {
    background-image: url(../../assets/backgrund.jpg);
    background-size: cover;
    background-position: center;
    background-color: #f9f9ff;
    width: 100%;
    margin-top: 80px;
}

#dynamic-text {
    display: inline-block;
    transition: opacity 2s ease-in-out;
}

@keyframes changeText {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.parent {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px; 
    grid-row-gap: 20px;
    padding: 20px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    padding: 80px;
    margin-top: 60px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.profilepic {
    height: 350px;
    width: 350px;
    border-radius: 175px;
    box-shadow: 0px 0px 50px #ddd;
}

.circleimg {
    text-align: center;
    padding: 50px;
}

.primarywrp {
    padding-left: 18px;
}

.primary {
    width: 180px;
    padding: 10px;
    background: #7a3adc;
    color: white;
    border-radius: 18px;
    cursor: pointer !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid;
}

.downloadbtn {
    height: 25px;
}

.name {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255 123 0);
}

.text1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 15px;
    color: rgb(0 32 87);
}

.text2 {
    font-family: "Poppins", sans-serif;
    color: rgb(0 32 87);
    padding: 17px;
    font-size: 30px;
    font-weight: 700;
}

.text3 {
    font-family: "Poppins", sans-serif;
    color: rgb(0 32 87);
    padding: 17px;
    font-size: 25px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .parent {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        padding: 10px;
    }

    .div1, .div2 {
        grid-area: auto;
        margin-bottom: 20px;
        padding: 20px;
    }

    .profilepic {
        width: 250px; 
        height: 250px;
    }

    .primary {
        width: 180px;
        text-align: center;
    }

    .text1 {
        font-size: 32px; /* Adjust text size */
    }

    .text2 {
        font-size: 24px; /* Adjust text size */
    }

    .text3 {
        font-size: 20px; /* Adjust text size */
    }
}

@media (max-width: 480px) {
    .text1 {
        font-size: 28px;
    }

    .text2 {
        font-size: 22px;
    }

    .text3 {
        font-size: 18px; 
    }

    .profilepic {
        width: 200px;
        height: 200px;
    }

    .primary {
        width: 180px;
        padding: 15px;
    }
}
